body {
    font-family: 'Cairo', sans-serif;
    font-size: 0.4cm;
}
html {
    scroll-behavior: smooth;
}
nav {
    width: 100%;
    height: 60px;
    background-color: violet;
}
nav ul {
    float: left;
}
nav ul li {
    float: left;
    list-style: none;
    position: relative;
}
nav ul li a {
    display: block;
    color: #222;
    font-size: 14px;
    padding: 0px 14px;
    text-decoration: none;
}
nav ul li ul {
    display: none;
    position: absolute;
    background-color: #fff;
    border-radius: 0px 0px 4px 4px;
}
nav ul li:hover ul{
    display: block;
}
nav ul li ul li {
    width: 180px;
    border-radius: 4px;
}
nav ul li ul li a{
    padding: 8px 14px;
}
nav ul li ul li a:hover{
    background-color: #f3f3f3;
}
#scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
}
#scroll-to-top:hover, #scroll-to-top:focus {
    background-color: #333;
    color: #fff;
    border-radius: 10%;
}
.btnEntrance {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: btnEntrance;
}
@keyframes btnEntrance {
    from {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);;
    }
    to {
        opacity: 1;
    }
} */

/* .btnExit {
    animation-duration: 0.25s;
    animation-fill-mode: both;
    animation-name: btnExit;
}
@keyframes btnExit {
    from {
        opacity: 1;
    } 
    to {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
}
